[submodule "third_party/CausalTimePrior"]
	path = third_party/CausalTimePrior
	url = https://github.com/thummd/CausalTimePrior.git
[submodule "third_party/Do-PFN-prior"]
	path = third_party/Do-PFN-prior
	url = https://github.com/oossen/Do-PFN-prior.git
